body {
	margin: 0 auto;
	background-color: #f4e7d5;
	header {
			background-color: #f4e7d5;
			height:150px;
			margin-bottom:30px;
			.img_clouds {
		        display: flex;
		        position: relative;
		        align-items: stretch;
		        max-height: 70%;
		        max-width: 100%;
		        img {
		            width: 33%;
		            height: 100%;
		        }
		        .cloud_gramophon {
		            display: flex;
		            justify-content: center;
		            width: 100%;
		            #gramophon {
		                position: relative;
		                top: 6%;
		                width: 15%;
		                left: -15%;
		            }
		        }
		        .cloud_ufo {
		            display: flex;
		            justify-content: center;
		            width: 100%;
		            #ufo {
		                position: relative;
		                width: 30%;
		                left: -15%;
		            }
	        	}
	    	}
		}
		.container {
			margin:0 auto;
			width:70%;
			text-align: justify;
			h1 {
				text-align:center;
				padding-top:30px;
			}
			.contact {
				display:flex;
				.wrap1{
					padding-left:10px;
				}
			}
		}


}