body {
    background-image: url(../img/schloss_schnbrunn_wien_vienna-wallpaper-1920x1080.jpg);
    margin: 0;
    background-color: #f4e7d5;
    max-height:100%;
    #ufo{
        position:absolute;
        top:6%;
        right:1.8%;
    }
    #gramofon{
        position: absolute;
        top:2%;
        left:3%;
        width:80px;


    }
     .nav {
        position: absolute;
        right: 1vw;
        top: 14vh;
        width: auto;
        height: 30vh; //if you change the height you will move the a-elements further or closer to each other
        z-index: 50;
        animation: shit 2s ease-in;
        display: none;
        flex-direction: column;
        justify-content: space-around;
    } 
//we want an effect where the 
    @keyframes shit {
        0% {
            transform: translateY(1vh); //this causes the "drop" effect from the UFO
            font-size: 0.01vw;
            border-radius: 0.01%;
            opacity: 0.1;
        }
        50% {
            transform: translateY(15vh);
            opacity: 1;
        }
        100% {
            transform: translateY(20vh);
            font-size: 2vw;
            border-radius: 50%;
            opacity: 0.5;
        }
    }

    .nav a {
        margin: 0;
        display: none;
        color: grey;
        padding: 1vw 1.1vw;
        text-decoration: none;
        font-size: 1.5vmax;
        animation: shit 2s ease-in;
        transition: 1s;
        align-self: center;
        text-align: center; 
    }
    
    .nav a:hover {
    background-color: grey;
    color: black;
    border-radius: 50%;
    opacity: 1;
    }

    //the following three classes are necessary because we 
    //need a pyramid under the ufo
    .nav_top {
        width: 5vw;
    }

    .nav_middle {
        width: 7vw;
    }

    .nav_bottom {
        width: 10vw;
    }
    .img_clouds{
        position:absolute;
        z-index:-2;
        img{

            width:100%;
            height:250px;
        }
    }
    .img_people_container {
        z-index:1;
        display: flex;
        align-items: flex-end;
        position:absolute;
        position-bottom:0;
        width: 100%;
        height:100%;
        justify-content: center;
  
        img{
            height:800px;

        }
       
    }
    #full-page-video {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .close-full-page-video {
        cursor: pointer;
        color: white;
        font-size: 60px;
        position: absolute;
        top: 20px;
        left: 20px;
        font-weight: 300;
    }
    #img_nico{
    position:absolute;
    left:0;
    height:550px;
    bottom:130px;
    }
    #img_marco{
    position:absolute;
    left:350px;
    height:700px;
    bottom:0px;
    }
    #img_tom{
    position:absolute;
    left:800px;
    height:800px;
    bottom:0px;
    }
    #img_delia{
    position:absolute;
    right:0;
    height:400px;
    bottom:230px;

    }
    #img_mustafa{
    position:absolute;
    right:0;
    height:400px;
    bottom:230px;
    }
    #shadow{
        z-index:-1;
        position:absolute;
        width:80%;
        height:40%
    }
}