body {
    margin: 0;

    background-color: #f4e7d5;
    .img_clouds {
    	display:flex;
        position: absolute;
        max-height:30%;
    }
    .img_people_container {
        position: absolute;
        top:3%;
        left: 20%;
        display: flex;
        align-items: flex-end;
    }
}