body {
margin:0;
padding:0;
font-size:18px;
background-color:#f4e7d5;
	header {
	background-color: #f4e7d5;
	height:150px;
	margin-bottom:30px;
	.img_clouds {
        display: flex;
        position: relative;
        align-items: stretch;
        max-height: 70%;
        max-width: 100%;
        img {
            width: 33%;
            height: 100%;
        }
        .cloud_gramophon {
            display: flex;
            justify-content: center;
            width: 100%;
            #gramophon {
                position: relative;
                top: 6%;
                width: 15%;
                left: -15%;
            }
        }
        .cloud_ufo {
            display: flex;
            justify-content: center;
            width: 100%;
            #ufo {
                position: relative;
                width: 30%;
                left: -15%;
            }
        }
    	}
	}
	h1 {
		text-align:center;
		font-size:150%;
		padding-top:20px;
	}
	.form {
		form {
			background-color:#f4e7d5;
			width: 35%;
			margin:auto;
			padding-top:50px;
		input, textarea {
			width:100%;
			font-size:100%;
			padding: 6px 0 6px 6px;
			margin-bottom: 9px;
			border: 1px solid darkgray;
			}
		textarea {
			height: 150px;
		}

		label {
			font-size:130%;
			
		}
		input[type=submit]{
			margin:0 auto;
			width:30%;
			height:40px; 
			text-align:center;
			border-radius:25px;
			display: block;

		}
	}
	}
}