html {
    box-sizing: border-box;

    background-image: url(https://i.pinimg.com/736x/91/1b/0b/911b0b865fa42e1c7086f9742ed61406--vintage-backgrounds-vintage-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Almendra', serif;
    -webkit-animation: color-change 4s infinite;
    color: black;
}

#num {
    text-align: center;
}



/*team img*/

#per {
    width: 200px;
    height: 150px;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 50px 20px;
}



/*cf-logo*/

#cf {
    opacity: 0.2;
}


#container {

    margin-top: 30px;

    border-radius: 50px 20px;
}

.flip-panel {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVWSaWt3u0cWZV1wsQuWWlYbrMCO1dkeasmsU1aHAtavFzCbe0MA);
    background-repeat: no-repeat;
    background-size: 450px 550px;
    box-shadow: 2px 2px 2px 2px black;
    display: block;
    position: relative;
    width: 450px;
    height: 550px;
    left: 600px;
    perspective: 1200px;
    border-radius: 50px 20px;
}

.panel {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVWSaWt3u0cWZV1wsQuWWlYbrMCO1dkeasmsU1aHAtavFzCbe0MA);
    background-repeat: no-repeat;
    background-size: 450px 550px;
    transition: z-index 1s ease-in-out 1s;
    border-radius: 50px 20px;
}



/*shadow*/

.panel,
.panel .front,
.panel .back {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVWSaWt3u0cWZV1wsQuWWlYbrMCO1dkeasmsU1aHAtavFzCbe0MA);
    background-repeat: no-repeat;
    background-size: 450px 550px;
    box-shadow: 2px 2px 2px 2px #784532;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 1s;
    transform-style: preserve-3d;
    transition: transform 1s, box-shadow 1s;
    border-radius: 50px 20px;
}

.panel .front {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVWSaWt3u0cWZV1wsQuWWlYbrMCO1dkeasmsU1aHAtavFzCbe0MA);
    background-repeat: no-repeat;
    background-size: 450px 550px;
    border-radius: 50px 20px;

    z-index: 3;
    -moz-transform: rotateY(0deg);
    -moz-transform-origin: left;
    transform: rotateY(0deg);
    transform-origin: left;
    backface-visibility: hidden;
}

.panel .back {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVWSaWt3u0cWZV1wsQuWWlYbrMCO1dkeasmsU1aHAtavFzCbe0MA);
    background-repeat: no-repeat;
    background-size: 450px 550px;
    border-radius: 50px 20px;
    left: -100%;
    z-index: 3;
    -moz-transform: rotateY(180deg);
    -moz-transform-origin: right;
    transform: rotateY(180deg);
    transform-origin: right;

    backface-visibility: hidden;
}

.panel .front:hover {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVWSaWt3u0cWZV1wsQuWWlYbrMCO1dkeasmsU1aHAtavFzCbe0MA);
    background-repeat: no-repeat;
    background-size: 450px 550px;
    -moz-transform: rotateY(-10deg);
    -moz-transform-origin: left;
    transform: rotateY(-10deg);
    transform-origin: left;
    box-shadow: 0 0 8px 0 rgba(100, 100, 100, 0.8);
    border-radius: 50px 20px;
}



/*last page(cover)*/

.panel.open {
    background-image: url((https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVWSaWt3u0cWZV1wsQuWWlYbrMCO1dkeasmsU1aHAtavFzCbe0MA.00000000000000000000000000000000000);
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 50px 20px;
}

.panel.open .front {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVWSaWt3u0cWZV1wsQuWWlYbrMCO1dkeasmsU1aHAtavFzCbe0MA);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 450px 550px;
    z-index: 1;
    -moz-transform: rotateY(-180deg);
    -moz-transform-origin: left;
    transform: rotateY(-180deg);
    transform-origin: left;
    border-radius: 50px 20px;
}



.panel.open .back {

    background-repeat: no-repeat;
    background-size: 450px 550px;
    z-index: 2;
    -moz-transform: rotateY(0deg);
    -moz-transform-origin: right;
    transform: rotateY(0deg);
    transform-origin: right;
    border-radius: 50px 20px;
}

hr {
    width: 200px;
}



/*book cover*/

#main {
    width: 450px;
    height: 550px;
    border-radius: 50px 20px;
}




#num {
    color: black;
    font-size: 20px;
}

#myVideo {
    border: red solid;
}

p {
    font-size: 20px;
    font-family: 'Almendra', serif;
}



/*personal information*/

#par1 {
    text-align: center;
}